[submodule "executable/deps/alt-config"]
	path = executable/deps/alt-config
	url = https://github.com/altmp/alt-config.git
[submodule "deps/cpp-sdk"]
	path = deps/cpp-sdk
	url = https://github.com/altmp/cpp-sdk
